:root {
    --header-color: #2C3E50;
    --primary-color: #1ABC9C;
    --footer: #3A546D;
}
/* RESET */
img {
    max-width: 100%;
}

/* COMMON */
.ms_container {
    width: 60%;
    margin: 0 auto;
}
.ms_jumbo-star{
    height: 20px;
}
.ms_star-line {
    /* line-height: 100%; */
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: white;
}
.header {
    /* height: 100px; */
    color: white;
    /* debug */
    background-color: var(--header-color);
}

.jumbo {
    background-color: var(--primary-color);
    color: white;

}
.avatar-img {
    width: 200px;
    height: 200px;
}
.row {
    /* debug */
    /* border: 1px solid black; */

}

.portfolio {
    /* debug */
    /* background-color: lightgreen; */
}

.aboutus {
    background-color: var(--primary-color);
    color: white;

}

.contacts {
    /* debug */
    /* background-color: lightgoldenrodyellow; */
}
.footer {
    background-color: var(--footer);
    color: white;

}
.bottom-footer {
    background-color: #2C3E50;
    color: white;


}
